{% extends 'web_class/base.html' %}

{% block title %} User | Login {% endblock title %}


{% block content %}

    <div class="form-container">
      
      <div class="login-form-field">
        <form action="" method="post">

          <p class="icon-user "><i  class="fas fa-user"></i></p>
          <div class="login-header"><h3>Auth System</h3></div>

          <!-- Error message display -->
          <div id="id_error_msg">
            <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>

          {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label><br>
              {{ form.username }}
            </div>

            <div class="form-group">
              <label for="username">Username:</label><br>
              {{ form.password }}
            </div>
            <p><a class="link" href="{% url 'web_class:register' %}">Don't have an account?</a></p>
            <input class="submit-form-button" type="submit" value="Submit">
        </form>
      </div>
    </div>
    

{% endblock content %}

{% block footer %}
    {% include 'web_class/partials/_footer.html' %}
{% endblock footer %}