{% extends 'web_class/base.html' %}

{% load static %}

{% block title %} About Me {% endblock title %}

{% block content %}
  
    <div class="about-me-info">

        <div  class="profile-detail">
            <!-- About me and my profile pic -->
            <div class="login-header"><h3>About Me</h3></div>
            <p class="profile-image"><img src="{% static 'web_class/images/dan.jpg' %}" alt="Daniel Udokike"></p>

            <!-- My Profile Details -->

            <div class="profile-info">
                <div class="profile-text">
                    <p><strong>Name:</strong>Daniel Udokike</p>
                    <p><strong>Date Of Birth:</strong>30th March, 2000</p>
                    <p><strong>Phone:</strong><a style="color: green; text-decoration: none;" href="tel://1234567920">+2349071790126</a></p>
                    <p><strong>Email:</strong><a style="color: green; text-decoration: none;" href="mailto:danieludokike@gmail.com">danieludokike@gmail.com</a></p>
                    <p><strong>Web Site: </strong><a style="color: green; text-decoration: none;" href="#">danieludokik.com</a></p>
                    <p><strong>Profile:</strong>Web Developer</p>
                    <p><strong>Address:</strong>Anambra State Nigeria</p>
                    <a href="{% url 'web_class:contact' %}"><button class="submit-form-button">HIRE ME</button></a>
                </div>

            <div style="height:5px; margin-bottom: 20px;" class="login-header"></div>

            </div>
        </div>

    </div>

{% endblock content %}

{% block footer %}
    {% include 'web_class/partials/_footer.html' %}
{% endblock footer %}
