{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} The title comes here {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'web_class/css/main.css' %}">
</head>

<body>
    <header>
        {% include 'web_class/partials/_nav_links.html' %}
    </header>

    <div class="container">
        
        {% block content %}

        {% endblock %}

    </div>

    <div>
        {% block footer %}
            
        {% endblock footer %}
    </div>

    <script src="{% static 'web_class/js/all.min.js' %}"></script>
    <script src="{% static 'web_class/js/main.js' %}"></script>
</body>
</html>