{% extends 'web_class/base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}


{% block content %}

<!-- Welcome text of the home page -->
 <div style="background-image: url({% static 'web_class/images/welc-bg.jpg' %}); " id="welcome-text">
    <div  class="text-center">
        <h1>Welcome to Code Class Learning Platform</h1>
        <span>We are Passionate about Technology</span>
        <a href="{% url 'web_class:login' %}"><button>GET STARTED</button></a>
    </div>
 </div>

 <!-- Tutorials section of the page -->
 <div id="tutorials">
     {% for course in available_courses %}
         <div class="course">
            <div class="inner-text">
                <h3 class="center-text">{{ course.course_name }}</h3><hr />
                <div><h4>{{ course.course_title }}</h4></div>
                <p class="description">
                    {{ course.course_description }}
                </p>
                <a href="{% url 'web_class:login' %}"><button>Start Now</button></a>
            </div>
         </div>
     {% endfor %}
 </div>

{% endblock content %}


{% block footer %}
    {% include 'web_class/partials/_footer.html' %}
{% endblock footer %}