{% extends 'web_class/base.html' %}

{% load static %}

{% block title %} {{ user }} | Profile {% endblock title %}


{% block content %}

<!--The profile page -->
  <div class="about-me-info">

        <div  class="profile-detail">
            <!-- About me and my profile pic -->
            <div style="height: 50px;" class="login-header">
                <strong>Search Result:</strong>
            </div>
                         <!-- View search result -->
                <div id="tutorials">
                    {% if course %}
                        {% for field in course  %}
                            <div class="course">
                                <div class="inner-text">
                                    <h3 class="center-text">{{ field.course_name }}</h3>
                                    <div><h4>{{ field.course_title }}</h4></div>
                                    <p class="description">
                                        {{ field.course_description }}
                                    </p>
                                    <a href="{% url 'web_class:course_details' field.course_name %}"><button>Start Now</button></a>
                                </div>
                            </div>
                        {% endfor %}

                        {% else %}

                             <div class="course">
                                <div style="color: red;" class="inner-text">
                                    <h3 class="center-text">Hmm!!</h3>
                                    <div><h4>No result found for {{ course_name }}.</h4></div>
                                    <p style="color: green;" class="description">
                                        You can go back to select available courses
                                    </p>
                                    <a href="{% url 'web_class:profile' %}"><button>Go Back</button></a>
                                </div>
                            </div>
                    {% endif %}
                </div>
    </div>
  </div>

{% endblock content %}


{% block footer %}
    {% include 'web_class/partials/_footer.html' %}
{% endblock footer %}