<div class="footer">
    <footer>
        <!-- All Right reserved. You must not remove this template at any cost-->
        <p>Copy Right &copy; <script>document.write(new Date().getFullYear());</script></p>
        <p><i class="fas fa-phone"></i><strong> Phone :</strong><a style="color: green; text-decoration: none;" href="tel://1234567920">+2349071790126</a></p>
        <p><i class="fas fa-mail-bulk"></i><strong> Email :</strong><a style="color: green; text-decoration: none;" href="mailto:danieludokike@gmail.com">danieludokike@gmail.com</a></p>
        <p><i class="fas fa-map"></i><strong> Location: </strong><span>Anambra State Nigeria</span></p>
        <!--All Right reserved-->
        <!--Designed by Daniel Udokike-->
    </footer>
</div>