<nav>
    {% if user.is_authenticated %}
        <div class="top-info">
            <div class="logo">
                <li><a href="{% url 'web_class:profile' %}">..</a></li>
            </div>
            <div class="bar"><i class="fas fa-bars" onclick="toggle_menue_bar()"></i></div>
        </div>

        <ul id="nav_links">
            <li><a href="{% url 'web_class:profile' %}">Welcome, {{ request.user }} .</a></li>
            <li><a href="{% url 'web_class:profile' %}">Profile</a></li>
            <li><a href="{% url 'web_class:logout' %}">Logout</a></li>
        </ul>

    {% else %}
        <div class="top-info">
            <div class="logo"><a style="color: #fff; text-decoration: none;" href="{% url 'web_class:home' %}">Daniel Udokike</a></div>
            <div class="bar"><i class="fas fa-bars" onclick="toggle_menue_bar()"></i></div>
        </div>

        <ul id="nav_links">
            <li><a href="{% url 'web_class:home' %}">Home</a></li>
            <li><a href="{% url 'web_class:about' %}">About</a></li>
            <li><a href="{% url 'web_class:contact' %}">Contact</a></li>
            <li><a href="{% url 'web_class:register' %}">Register</a></li>
            <li><a href="{% url 'web_class:login' %}">Login</a></li>
        </ul>
   {% endif %}
</nav>
